.navbar {
  margin-bottom: 0px; }

.navbar:after, .navbar:before {
  content: " ";
  display: table; }

.navbar:after {
  clear: both; }

.brand {
  color: #404047;
  color: #404047;
  font-size: 25px;
  line-height: 25px; }

img {
  float: left;
  width: 80px;
  border-radius: 50%;
  margin-top: -20px;
  background-color: #f8f8f8; }
